/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/admin/images/login_qrcode
/public/php/jssdk/jsapi_ticket.php
/public/php/jssdk/access_token.php
public/admin/images/applyAdmin.png
.settings/org.eclipse.core.resources.prefs
