.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
#teacher{
	padding: 0px;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	border-right: 0px solid transparent;
	border-bottom: 0px solid transparent;
}
.mui-grid-view.mui-grid-9{
	border-left: 0px solid transparent;
	border-top: 0px solid transparent;
}

#madeT_ul{
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #0fc5e2), color-stop(1, #1483b5));
}
#madeT_ul .mui-media-body,#madeT_ul li{
	-webkit-user-select: none;
	color: #FFF;
	cursor: pointer;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active
{
    background-color: #498bc5;
}