.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
#teacher{
	padding: 0px;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	border-right: 0px solid transparent;
	border-bottom: 0px solid transparent;
}
.mui-grid-view.mui-grid-9{
	border-left: 0px solid transparent;
	border-top: 0px solid transparent;
}

#madeT_ul{
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #0fc5e2), color-stop(1, #1483b5));
}
#madeT_ul .mui-media-body,#madeT_ul li{
	-webkit-user-select: none;
	color: #FFF;
	cursor: pointer;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active
{
    background-color: #498bc5;
}


.page_set{
	width: 100%;
	position: absolute;
	z-index: 2;
	background-color: #E8E8E3;
	display: none;
}
.div_detail .mui-btn{
	margin-left: 6px;
}
.div_detail h5{
	font-family: 1.3em;
	font-weight: bold;
}


/***************** 8.Widget  ****************/
.widget-panel {
    padding: 26px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #E6EBEC;
    background: #3fb7ee;
}
.bg-info {
    background-color: #3fb7ee;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fa{
	display: inline-block;
/*     font: normal normal normal 14px/1 FontAwesome; */
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.widget-style-1 i {
    position: absolute;
    font-size: 4rem;
    right: 0;
    top: 4rem;
    /* bottom: 3rem; */
    color: #edf0f0;
}
.widget-style-1 h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 8px !important;
}
.text-white {
    color: #ffffff;
}