.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
#teacher{
	padding: 0px;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	border-right: 0px solid transparent;
	border-bottom: 0px solid transparent;
}
.mui-grid-view.mui-grid-9{
	border-left: 0px solid transparent;
	border-top: 0px solid transparent;
}

#madeT_ul{
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #0fc5e2), color-stop(1, #1483b5));
}
#madeT_ul .mui-media-body,#madeT_ul li{
	-webkit-user-select: none;
	color: #FFF;
	cursor: pointer;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active
{
    background-color: #498bc5;
}


.page_set{
	width: 100%;
	position: absolute;
	z-index: 2;
	background-color: #E8E8E3;
	display: none;
}
.div_detail .mui-btn{
	margin-left: 6px;
}
.div_detail h5{
	font-family: 1.3em;
	font-weight: bold;
}


/***************** 8.Widget  ****************/
.widget-panel {
  padding: 26px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #E6EBEC;
}

.widget-style-1 i {
  position: absolute;
  font-size: 6rem;
  right: 0;
  bottom: 1rem;
  color: #edf0f0;
}
.widget-style-1 h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 8px !important;
}

.widget-style-1:hover i {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.widget-style-2 {
  padding-left: 30px;
}
.widget-style-2 i {
  font-size: 48px;
  float: right;
  line-height: 48px;
  padding: 35px 35px 29px;
  margin-top: -27px;
  margin-right: -20px;
}
.widget-style-2 h2 {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 8px !important;
}

.profile-widget {
  background: #ffffff;
  margin-bottom: 20px;
}

.bg-profile {
  height: 100px;
}

.profile-widget .img-thumbnail {
  margin-top: -42px;
  border: none;
}

.widget-list {
  padding: 10px;
  margin-top: 20px;
  margin-left: 0px;
  padding-bottom: 30px;
}

.widget-list span {
  display: block;
  font-weight: bold;
  font-size: 18px;
}