#pickerBigDiv{
	position:fixed;
	display:none;
	top:0;
	left:0;
	background: rgba(244,247,237, 0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66F4F7ED, endColorstr=#66F4F7ED);
}

.zxjPicker{
	width: 100%;
	height: 300px;
	position: absolute;
	background-color: #F7F7F6;
	bottom: 0;
}
.operatePicker{
	width: 100%;
	height: 35px;
}
.canclePicker{
	color: #00A0EC;
	padding: 5px 15px;
	font-size: 16px;
	line-height: 25px;
	float: left;
}
.okPicker{
	color: #00A0EC;
	padding: 5px 15px;
	font-size: 16px;
	line-height: 25px;
	float: right;
}